html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

#map-canvas {
  height: 50%;
  width: 100%;
  display: block;
}

div.bar {
  display: inline-block;
  height: 75px;
  width: 20px;
  margin-right: 1px;
  background-color: teal;
}

/*svg .quake-map-canvas {
  height: 100;
  width: 500;
}*/

/* map code */
.map {
  display: block;
  margin: auto;
}

path {
  fill: none;
  stroke: #bbb;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.land {
  fill: #ddd;
}
