/*html { height: 100% }*/
/*body { height: 100%; margin: 0; padding: 0 }*/

#map-canvas {
  height: 100%;
  width: 100%;
  display: block;
}

.container {
  height: 100%;
  background-color: #CCCCCC;
}

div.bar {
  display: inline-block;
  height: 75px;
  width: 20px;
  margin-right: 1px;
  background-color: teal;
}

.subunit.ISL { fill: #dcd; }

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.subunit-label {
  fill: #777;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}

/*svg .quake-map-canvas {
  height: 100;
  width: 500;
}*/
