.App {
  width: 100%;
  height: 100%;
  text-align: center;
}

.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.Map {
  width: 80%;
  text-align: center;
}

.bar-graph-container {
  height: 25%;
}

.map-container {
  height: 75%;
}

.subunit.ISL {
  fill: #dcd;
}

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.subunit-label {
  fill: #777;
  fill-opacity: .5;
  font-size: 1.2em;
  font-weight: 300;
  text-anchor: middle;
  font-family: sans-serif;
}

.place-label {
  fill: #111;
  fill-opacity: .5;
  font-size: 1em;
  font-weight: 300;
  font-family: sans-serif;
}

.quake-location {
  fill-opacity: .75;
}

.quake-location:hover {
  animation: fadeIn 0.5s;
}

.quake-bar {
  fill-opacity: .75;
}

.quake-bar:hover {
  animation: fadeIn 0.5s;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fadeIn {
  from { fill-opacity: 0.75; }
  to { fill-opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0.25; }
}

/* @media screen and (min-width(25em)) {
  .Map {
  }
} */
